# Pick up environment variables that were forwarded when starting the container
SHELL=/bin/bash
BASH_ENV=/etc/environment

# See:
# https://www.reddit.com/r/docker/comments/mzqibu/how_to_correctly_run_cron_in_docker/

# FIXME: I'd like to be able to use UTC+9 times
# TODO: rethink schedule. From a bank perspective, 6pm and 6am might yield the same results (no activity overnight?)
# Run MFYNAB at 6am, 12pm, and 6pm JST every day
#* 3,9,21 * * * cd /app; bundle exec mfynab config/mfynab.yml >/proc/1/fd/1 2>/proc/1/fd/2

# 9, 12, 15, 18, 21 UTC+9
0 0,3,6,9,12 * * * cd /app; bundle exec mfynab config/mfynab.yml >/proc/1/fd/1 2>/proc/1/fd/2
